body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

form {
  max-width: 600px;     
	padding: 10px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background:#305A72; 
  text-transform: uppercase;
  color: white;
}

.meme {
  display: inline-block;
  position: relative;
  text-align: center;
}

.meme div {
  position: absolute; 
  left: 0;
  right: 0; 
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.footer-text {
  position: absolute; 
  bottom: 0;
}

.meme:hover {
  opacity: 0.3;
}





